/* [x] container element has two columns */
/* [x] containers second column is 4x larger than the first column */
/* [x] container element has a gap of 4px */
/* [x] header element has two columns */
/* [x] "ul" inside the element contains another grid */
/* [x] "ul" inside the nav contains another grid */
/* [x] side bar element has a gap of 50px */
/* [x] text elements in the sidebar are centered with grid */
/* [x] article element should set grid columns using "repeat" along with the auto-fit and minmax properties */
/* [x] article columns should have a minimum value of 250px and maximum 1fr
/* [x] article element has agap of 15px */
/* [x] card elements inside article container have height of 200px */
/* [x] header and footer span across both columns */
/* [x] side bar only spans across first column */
/* [x] nav and article elements only span across the second column */

* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column: 1 / -1;
}

.header .logo {
  grid-column: 1 / 2;
  justify-self: start;
}

.menu {
  align-self: center;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
}

.menu li {
  justify-self: center;
}

.sidebar {
  background-color: #C50208;

  display: grid;
  gap: 50px;
  grid-column: 1 / 2;
  grid-row: 2 / 4;

}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  
  display: grid;
  align-items: center;
}

.nav {
  background-color: #C50208;

  grid-column: 2 / -1;
}

.nav ul {
  list-style-type: none;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  grid-column: 2 / -1;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  height: 200px;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  
  grid-column: 1 / -1;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}